<div class="navbar">
  <div
    *ngIf="role === 'user' || 'admin'"
    class="hamburger"
    (click)="toggleSidebar()"
    appClickedOutside
    (clickedEvent)="closeSidebar()"
  >
    <img src="../../../../assets/icons/icons8-menu-50.png" alt="" />
  </div>
  <div class="navbar_left">
    <a routerLink="/user/home"><h2>Bookify</h2></a>
    <a class="navlink_left" *ngIf="role === 'admin'" routerLink="/admin"
      >Books</a
    >
    <a class="navlink_left" *ngIf="role === 'admin'" routerLink="/admin/coupons"
      >Coupons</a
    >
  </div>
  <div class="navbar_right">
    <a *ngIf="role === 'admin'" routerLink="/admin/create">Create Book</a>
    <a *ngIf="role === 'admin'" routerLink="/admin/coupons/create"
      >Create Coupon</a
    >
    <span class="nav_link" *ngIf="token && role === 'admin'" (click)="logout()"
      >Logout</span
    >
    <!-- <a *ngIf="role === 'user'" routerLink="/user/cart">Cart</a>
    <a *ngIf="role === 'user'" routerLink="/user/myorders">My orders</a> -->
    <div *ngIf="role === 'user'" class="dropDownbtn">
      <div class="username" (click)="updateDropDown()">
        <p>{{ userName }}</p>

        <img
          src="../../../../assets/icons/pngwing.com.png"
          class="arrow"
          alt=""
        />
      </div>

      <div
        class="dropDownMenu"
        [ngClass]="isDropDownOpen ? 'dropDownShow' : 'dropDownHide'"
        (click)="updateDropDown()"
      >
        <a routerLink="/user/profile">Profile</a>
        <a routerLink="/user/cart">Cart</a>
        <a routerLink="/user/myorders">My Orders</a>
        <a routerLink="/user/home">Books</a>
        <span class="nav_link" *ngIf="token" (click)="logout()">Logout</span>
      </div>
    </div>
  </div>
</div>
<!-- --------------------sidebar------------------- -->

<div
  *ngIf="role === 'user' || 'admin'"
  class="sidebar"
  [ngClass]="isSidebarOpen ? 'sidebar_show' : 'sidebar_hide'"
>
  <img
    class="sidebar_back_icon"
    (click)="toggleSidebar()"
    src="../../../../assets/icons/left-arrow.png"
    alt=""
  />
  <div *ngIf="role === 'user'">
    <a routerLink="/user/profile">Profile</a>
    <a routerLink="/user/cart">Cart</a>
    <a routerLink="/user/myorders">My Orders</a>
    <a routerLink="/user/home">Books</a>
    <span class="nav_link" *ngIf="token" (click)="logout()">Logout</span>
  </div>

  <div *ngIf="role === 'admin'">
    <a routerLink="/admin">Books</a>
    <a routerLink="/admin/coupons">Coupons</a>
    <a routerLink="/admin/create">Add Book</a>
    <a routerLink="/admin/coupons/create">Create Coupons</a>
    <span class="nav_link" *ngIf="token" (click)="logout()">Logout</span>
  </div>
</div>
