.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: white;
  background-color: rgb(0, 0, 0);
  position: sticky;
  z-index: 10;
  top: 0;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline 2px solid rgb(255, 255, 255);
      text-underline-offset: 0.5rem;
    }
  }
  span {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline 2px solid rgb(255, 255, 255);
      text-underline-offset: 0.5rem;
      cursor: pointer;
    }
  }
  .navbar_left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .navbar_right {
    @extend .navbar_left;
  }
}
.hamburger {
  display: none;
}
.dropDownbtn {
  position: relative;
}
.dropDownHide {
  display: none;
}
.dropDownShow {
  display: none;
}
.dropDownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0.5rem;
  top: 40px;
  left: -15px;
  text-align: center;
  gap: 1rem;
}

@media (width<700px) {
  .navbar {
    .hamburger {
      display: block;
    }
    .navbar_right {
      display: none;
    }
  }
}
