<form
  class="coupon_create_form"
  [formGroup]="couponEditForm"
  (ngSubmit)="CouponSubmit()"
>
  <h2>Edit Coupon</h2>
  <div class="form_container">
    <div>
      <label for="couponName">Coupon Name</label>
      <input type="text" id="couponName" formControlName="Name" />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Name')?.touched ||
            couponEditForm.get('Name')?.dirty) &&
          couponEditForm.get('Name')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Name')?.hasError('required')">
          Name is required
        </div>
        <div *ngIf="couponEditForm.get('Name')?.hasError('minlength')">
          Name should be atleast 4 characters long
        </div>
        <div *ngIf="couponEditForm.get('Name')?.hasError('maxlength')">
          Name cant be greater than 20 characters
        </div>
      </div>
      <!-- -------------------------error msg----------------------- -->
    </div>
    <div>
      <label for="">Coupon Code</label>
      <input type="text" formControlName="Code" />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Code')?.touched ||
            couponEditForm.get('Code')?.dirty) &&
          couponEditForm.get('Code')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Code')?.hasError('required')">
          Code is required
        </div>
        <div *ngIf="couponEditForm.get('Code')?.hasError('minlength')">
          Code should be atleast 4 characters long
        </div>
        <div *ngIf="couponEditForm.get('Code')?.hasError('maxlength')">
          Code cant be greater than 20 characters
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="">Discount</label>
      <input type="text" formControlName="Coupon_Offer" />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Coupon_Offer')?.touched ||
            couponEditForm.get('Coupon_Offer')?.dirty) &&
          couponEditForm.get('Coupon_Offer')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Coupon_Offer')?.hasError('required')">
          Discount Value is required
        </div>
      </div>
      <div class="error_msg" *ngIf="couponEditForm.get('Coupon_Offer')?.dirty">
        <div *ngIf="couponEditForm.errors?.['offerNan']">
          Coupon offer Should be a number
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="Coupon_Type">Coupon Type</label>
      <div class="radio_div">
        <div>
          <input
            type="radio"
            value="Fixed"
            formControlName="Coupon_Type"
            id="Coupon_Type_fixed"
          />
          <label for="Coupon_Type_fixed">Fixed</label>
        </div>

        <div>
          <input
            type="radio"
            value="Percentage"
            formControlName="Coupon_Type"
            id="Coupon_Type_percentage"
          />
          <label for="Coupon_Type_percentage">Percentage</label>
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Coupon_Type')?.touched ||
            couponEditForm.get('Coupon_Type')?.dirty) &&
          couponEditForm.get('Coupon_Type')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Coupon_Type')?.hasError('required')">
          Coupon Type is required
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="Validity_Start">Validity Start</label>
      <input type="date" formControlName="Validity_Start" id="Validity_Start" />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Validity_Start')?.touched ||
            couponEditForm.get('Validity_Start')?.dirty) &&
          couponEditForm.get('Validity_Start')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Validity_Start')?.hasError('required')">
          Validity Start is required
        </div>
      </div>
      <div class="error_msg">
        <div
          *ngIf="
          couponEditForm.errors?.['validityStartGreater']
        "
        >
          Validity Start date cant be greater than validity end date
        </div>
        <div
          *ngIf="
          couponEditForm.errors?.['startPastDate']
        "
        >
          Validity Start date cant be a past date
        </div>
        <div
          *ngIf="
          couponEditForm.errors?.['sameDate']
        "
        >
          Validity Start and end date cant be same
        </div>
      </div>

      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="Validity_End">Validity End</label>
      <input type="date" formControlName="Validity_End" id="Validity_End" />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Validity_End')?.touched ||
            couponEditForm.get('Validity_End')?.dirty) &&
          couponEditForm.get('Validity_End')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Validity_End')?.hasError('required')">
          Validity End is required
        </div>
      </div>
      <div class="error_msg">
        <div
          *ngIf="
          couponEditForm.errors?.['validityEndLower']
        "
        >
          Validity End date cant be less than validity start date
        </div>
        <div
          *ngIf="
          couponEditForm.errors?.['endPastDate']
        "
        >
          Validity End date cant be a past date
        </div>
        <div
          *ngIf="
          couponEditForm.errors?.['sameDate']
        "
        >
          Validity Start and end date cant be same
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="Coupon_Status">Coupon Status</label>
      <div class="radio_div">
        <div>
          <input
            type="radio"
            value="1"
            formControlName="Coupon_Status"
            id="Coupon_Status_active"
          />
          <label for="Coupon_Status_active">Active</label>
        </div>

        <div>
          <input
            type="radio"
            value="0"
            formControlName="Coupon_Status"
            id="Coupon_Status_inactive"
          />
          <label for="Coupon_Status_inactive">Inactive</label>
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Coupon_Status')?.touched ||
            couponEditForm.get('Coupon_Status')?.dirty) &&
          couponEditForm.get('Coupon_Status')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('Coupon_Status')?.hasError('required')">
          Status is required
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="Coupon_Status">Coupon Category</label>
      <select
        name="Coupon_Category"
        id="Coupon_Category"
        formControlName="Coupon_Category"
      >
        <option *ngFor="let category of categories" value="{{ category.id }}">
          {{ category.category_name }}
        </option>
      </select>
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('Coupon_Category')?.touched ||
            couponEditForm.get('Coupon_Category')?.dirty) &&
          couponEditForm.get('Coupon_Category')?.errors
        "
      >
        <div
          *ngIf="couponEditForm.get('Coupon_Category')?.hasError('required')"
        >
          Coupon Category is required
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <div>
      <label for="">Coupon Image</label>
      <input
        type="file"
        formControlName="ImageFile"
        (change)="onImageChange($event)"
      />
      <!-- ----------------------error msg--------------- -->
      <div
        class="error_msg"
        *ngIf="
          (couponEditForm.get('ImageFile')?.touched ||
            couponEditForm.get('ImageFile')?.dirty) &&
          couponEditForm.get('ImageFile')?.errors
        "
      >
        <div *ngIf="couponEditForm.get('ImageFile')?.hasError('required')">
          Image is required
        </div>
      </div>
      <!-- ----------------------error msg--------------- -->
    </div>
    <button class="create_btn" type="submit">UPDATE</button>
  </div>
</form>
