<app-popup-message
  *ngIf="popupMessage.message.length > 1"
  [message]="popupMessage"
></app-popup-message>
<h2>Cart</h2>
<div *ngIf="cart.length" class="admin_book_container">
  <div class="labels">
    <p>Name</p>
    <p>Unit Price</p>
    <p>Quantity</p>
    <p>Total Price</p>
    <p>Apply Coupon</p>
    <p>Discount</p>
    <p>Amount Payable</p>
    <p>Delete</p>
  </div>
  <div class="cart_items_wrapper">
    <app-cart-card
      *ngFor="let cartItem of cart"
      [cartItem]="cartItem"
      [cart]="cart"
      (remove)="removeFromCart($event)"
      (applyCouponClick)="applyBtnEvent($event)"
    ></app-cart-card>
  </div>
  <div class="cart_action_buttons">
    <button class="cart_delete_btn" (click)="deleteCart()">Delete Cart</button>
    <button class="cart_checkout_btn" (click)="checkoutCart()">
      Checkout Cart
    </button>
  </div>
</div>

<!-- ----------------------------cart empty message------------------ -->

<div class="cart_empty_div" *ngIf="!cart.length">
  <h2>Your cart is empty</h2>
  <h2 class="cart_empty_add_link" routerLink="/user/home">add books</h2>
</div>

<!-- -----------------coupon modal------------------ -->

<div *ngIf="isModalOpen" class="coupon_popup_wrapper">
  <div class="coupon_popup">
    <div class="coupon_apply_form_container">
      <p class="coupon_apply_form_header" for="coupon">Select Coupon</p>
      <form
        class="coupon_apply_form"
        [formGroup]="couponForm"
        (ngsubmit)="applyCoupon()"
      >
        <div class="coupon_apply_options_wrapper">
          <select name="Coupon" class="coupon_select" formControlName="coupon">
            <option
              *ngFor="let coupon of eligibleCoupons"
              value="{{ coupon.id }}"
            >
              {{ coupon.Code }}
            </option>
          </select>
          <button
            [disabled]="!couponForm.valid"
            type="submit"
            (click)="applyCoupon()"
            class="coupon_apply_btn"
          >
            Apply
          </button>
        </div>
      </form>
      <div class="btn_container">
        <button
          class="remove_btn"
          (click)="removeCoupon()"
          id="coupon_remove_btn"
        >
          Remove
        </button>
        <button class="close_btn" (click)="closeModal()" id="coupon_remove_btn">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
