<h2>Cart</h2>
<div *ngIf="cart.length" class="admin_book_container">
  <div class="labels">
    <p>Name</p>
    <p>Unit Price</p>
    <p>Quantity</p>
    <p>Total Price</p>
    <p>Delete</p>
  </div>
  <app-cart-card
    *ngFor="let cartItem of cart"
    [cartItem]="cartItem"
    [cart]="cart"
    (remove)="removeFromCart($event)"
  ></app-cart-card>
  <button class="cart_delete_btn" (click)="deleteCart()">Delete Cart</button>
</div>
<div class="cart_empty_div" *ngIf="!cart.length">
  <h2>Your cart is empty</h2>
  <h2 class="cart_empty_add_link" routerLink="/user">add books</h2>
</div>
