.coupon_create_form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .radio_div {
    display: flex;
    gap: 4rem;
  }
  input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(129, 129, 129);
    outline: none;
  }
  select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(129, 129, 129);
    outline: none;
  }
  .create_btn {
    grid-column: 1 / span 3;
    padding: 0.4rem 0.8rem;
    margin-inline: auto;
    background-color: rgb(25, 85, 175);
    color: white;
    border-radius: 0.5rem;
    border: 2px solid rgb(154, 191, 247);
    &:hover {
      background-color: rgb(20, 69, 141);
      outline: 2px solid rgb(169, 194, 231);
      cursor: pointer;
    }
  }
  .error_msg {
    max-width: fit-content;
    color: red;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
  }
}
