
.book_create_form{
  max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px 5px rgb(199, 199, 245);
    padding: 3rem;
h2{
  max-width: fit-content;
  margin-inline: auto;
}
.form_container {
  display: grid;
  gap: 1rem;
  padding: 2rem 2rem;
  margin: 1rem auto;
  grid-template-areas:
    "name author "
    "isbn  language  "
    "categories date "
    "actual  current"
    " price   availability "
    "status  upload ";
  .form_name {
    grid-area: name;
  }
  .form_isbn {
    grid-area: isbn;
  }
  .form_author {
    grid-area: author;
  }
  .form_categories {
    grid-area: categories;
  }
  .form_date {
    grid-area: date;
  }
  .form_price {
    grid-area: price;
  }
  .form_language {
    grid-area: language;
  }
  .form_actual_copies {
    grid-area: actual;
  }
  .form_current_copies {
    grid-area: current;
  }
  .form_availability {
    grid-area: availability;
  }
  .form_status {
    grid-area: status;
  }
  .form_image_upload {
    grid-area: upload;
  }

  input {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(129, 129, 129);
    outline: none;
  }
  select {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(129, 129, 129);
    outline: none;
  }
  .form_radio_container {
    display: flex;
    gap: 1rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  button {
    padding: 0.5rem 0.8rem;
    grid-column: 1 / span 2;
    background-color: rgb(18, 105, 197);
    color: white;
    border-radius: 0.5rem;
    border: 3px solid rgb(178, 206, 239);
    margin: 0.5rem auto 0 auto;
    &:hover{
    outline: 2px solid rgb(178, 206, 239);
    background-color: rgb(9, 73, 141);
    }
  }
 
  input.ng-invalid.ng-dirty {
    border-color: rgb(134, 38, 38);
  }
  input.ng-invalid.ng-touched {
    border-color: rgb(134, 38, 38);
  }
}
}

.error_msg {
  max-width: fit-content;
  color: red;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}
@media(width < 700px){
  .book_create_form{
  .form_container{
   grid-template-areas: 
    "name"
    "author"
    "isbn"
    "language"
    "categories"
    "date"
    "actual"
    "current"
    "price"
    "availability"
    "status" 
    "upload";
    button{
    grid-column: 1 / span 1;
    }
  }
}}