.book_add_form {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  margin: 1rem auto;
  grid-template-areas:
    "name name author author "
    "isbn isbn language language  "
    "categories categories date date "
    "actual actual current current"
    " price price  availability availability ";
  .form_name {
    grid-area: name;
  }
  .form_isbn {
    grid-area: isbn;
  }
  .form_author {
    grid-area: author;
  }
  .form_categories {
    grid-area: categories;
  }
  .form_date {
    grid-area: date;
  }
  .form_price {
    grid-area: price;
  }
  .form_language {
    grid-area: language;
  }
  .form_actual_copies {
    grid-area: actual;
  }
  .form_current_copies {
    grid-area: current;
  }
  .form_availability {
    grid-area: availability;
  }

  input {
    padding: 0.5rem 1rem;
  }
  select {
    padding: 0.5rem 1rem;
  }
  .form_radio_container {
    display: flex;
    gap: 1rem;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  button {
    padding: 0.5rem 0.8rem;
    grid-column: 1 / span 2;
    margin: 0.5rem auto 0 auto;
  }
  .form_image {
    max-width: 100px;
  }
}
