<div class="user_data">
  <div class="top_container">
    <div class="profile_pic">
      <div class="profile_pic_container">
        <img
          *ngIf="userData.Profile_Pic"
          src="http://localhost:8080/{{ userData.Profile_Pic }}"
          alt=""
        />
        <img
          *ngIf="!userData.Profile_Pic"
          src="../../../../assets/icons/pic.png"
          alt=""
        />
      </div>
      <div class="icon_wrapper">
        <img
          (click)="toggleModal()"
          class="profile_pic_edit_icon"
          src="../../../../assets/icons/edit.png"
          alt=""
        />
      </div>
    </div>

    <div>
      <p>
        {{ userData.First_Name | titlecase }}
        {{ userData.Last_Name | titlecase }}
      </p>
      <p>
        <small>{{ userData.Email }}</small>
      </p>
    </div>
  </div>
  <div class="bottom_details_container">
    <div class="individual_details">
      <label for="">Address</label>
      <div class="details">
        <p>{{ userData.Address_line1 | titlecase }}</p>
        <p>{{ userData.Address_line2 | titlecase }}</p>
        <p>{{ userData.Address_line3 | titlecase }}</p>
      </div>
    </div>
    <div class="individual_details">
      <label for="">City</label>
      <div class="details">
        <p>{{ userData.City }}</p>
      </div>
    </div>
    <div class="individual_details">
      <label for="">Mobile</label>
      <div class="details">
        <p>{{ userData.Mobile }}</p>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------modal------------------ -->

<div *ngIf="isModalOpen" class="coupon_popup_wrapper">
  <div class="coupon_popup">
    <div class="coupon_apply_form_container">
      <p class="coupon_apply_form_header" for="coupon">Select image</p>
      <form
        class="coupon_apply_form"
        [formGroup]="picForm"
        (ngsubmit)="uploadPic()"
      >
        <div class="coupon_apply_options_wrapper">
          <input
            type="file"
            formControlName="imageFile"
            (change)="onImageChange($event)"
          />
          <div class="btn_container">
            <button type="submit" (click)="uploadPic()" class="upload_btn">
              Upload
            </button>
            <button
              class="close_btn"
              (click)="closeModal()"
              id="coupon_remove_btn"
            >
              Close
            </button>
          </div>
          <div class="err_msg" *ngIf="picForm.get('imageFile')?.touched">
            <small *ngIf="picForm.get('imageFile')?.hasError('required')"
              >please select an image</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
