<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h2 class="form_header">SIGN UP</h2>
    <div class="signupForm">
      <div class="firstname">
        <label for="fname">First Name</label>
        <input type="text" id="fname" formControlName="First_Name" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('First_Name')?.dirty ||
            (signupForm.get('First_Name')?.touched &&
              signupForm.get('First_Name')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('First_Name')?.hasError('required')"
            >First name cant be blank</span
          >
          <span *ngIf="signupForm.get('First_Name')?.hasError('minlength')"
            >First name cant be less than 2 characters</span
          >
        </div>
      </div>
      <div class="lastname">
        <label for="lastname">Last Name</label>
        <input type="text" id="lname" formControlName="Last_Name" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('Last_Name')?.dirty ||
            (signupForm.get('Last_Name')?.touched &&
              signupForm.get('Last_Name')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('Last_Name')?.hasError('required')"
            >Last name cant be blank</span
          >
          <span *ngIf="signupForm.get('Last_Name')?.hasError('minlength')"
            >Last name cant be less than 2 characters</span
          >
        </div>
      </div>
      <div class="email">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="Email" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('Email')?.dirty ||
            (signupForm.get('Email')?.touched &&
              signupForm.get('Email')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('Email')?.hasError('required')"
            >Email cant be blank</span
          >
          <span *ngIf="signupForm.get('Email')?.hasError('email')"
            >invalid email</span
          >
        </div>
      </div>
      <div class="address">
        <div formGroupName="Address" class="address_container">
          <div>
            <label for="address">Address line 1</label>
            <input type="text" id="address" formControlName="AddressLine1" />
            <div
              class="input_error_msg"
              *ngIf="
                signupForm.get('Address.AddressLine1')?.dirty ||
                (signupForm.get('Address.AddressLine1')?.touched &&
                  signupForm.get('Address.AddressLine1')?.invalid)
              "
            >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine1')?.hasError('required')
                "
                >Address Line 1 cant be blank</span
              >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine1')?.hasError('minlength')
                "
                >Address Line 1 cant be less than 2 characters</span
              >
            </div>
          </div>
          <div>
            <label>Address line 2</label>
            <input type="text" id="address" formControlName="AddressLine2" />
            <div
              class="input_error_msg"
              *ngIf="
                signupForm.get('Address.AddressLine2')?.dirty ||
                (signupForm.get('Address.AddressLine2')?.touched &&
                  signupForm.get('Address.AddressLine2')?.invalid)
              "
            >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine2')?.hasError('required')
                "
                >Address Line 2 cant be blank</span
              >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine2')?.hasError('minlength')
                "
                >Address Line 2 cant be less than 2 characters</span
              >
            </div>
          </div>
          <div>
            <label>Address line 3</label>
            <input type="text" id="address" formControlName="AddressLine3" />
            <div
              class="input_error_msg"
              *ngIf="
                signupForm.get('Address.AddressLine3')?.dirty ||
                (signupForm.get('Address.AddressLine3')?.touched &&
                  signupForm.get('Address.AddressLine3')?.invalid)
              "
            >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine3')?.hasError('required')
                "
                >Address Line 3 cant be blank</span
              >
              <span
                *ngIf="
                  signupForm.get('Address.AddressLine3')?.hasError('minlength')
                "
                >Address Line 3 cant be less than 2 characters</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="city">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="City" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('City')?.dirty ||
            (signupForm.get('City')?.touched && signupForm.get('City')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('City')?.hasError('required')"
            >City cant be blank</span
          >
          <span *ngIf="signupForm.get('City')?.hasError('minlength')"
            >City cant be less than 2 characters</span
          >
        </div>
      </div>
      <div class="mobile">
        <label for="mobile">Mobile No</label>
        <input type="text" id="mobile" formControlName="Mobile" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('Mobile')?.dirty ||
            (signupForm.get('Mobile')?.touched &&
              signupForm.get('Mobile')?.invalid)
          "
        >
          <div *ngIf="!signupForm.errors?.['notValidMobile']">
            <span *ngIf="signupForm.get('Mobile')?.hasError('required')"
              >Mobile number cant be blank</span
            >
            <span *ngIf="signupForm.get('Mobile')?.hasError('minlength')"
              >Mobile number should be 10 digits</span
            >
            <span *ngIf="signupForm.get('Mobile')?.hasError('maxlength')"
              >Mobile number should be 10 digits</span
            >
          </div>
          <span *ngIf="signupForm.errors?.['notValidMobile']"
            >invalid mobile number</span
          >
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="Password" />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('Password')?.dirty ||
            (signupForm.get('Password')?.touched &&
              signupForm.get('Password')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('Password')?.hasError('required')"
            >Password cant be blank</span
          >
          <span *ngIf="signupForm.get('Password')?.hasError('minlength')"
            >Password should be atleast 8 characters long</span
          >
          <span *ngIf="signupForm.get('Password')?.hasError('maxlength')"
            >Password should be 20 characters or less</span
          >
        </div>
      </div>
      <div class="confirm_password">
        <label for="password">Confirm Password</label>
        <input
          type="password"
          id="password"
          formControlName="PasswordConfirm"
        />
        <div
          class="input_error_msg"
          *ngIf="
            signupForm.get('PasswordConfirm')?.dirty ||
            (signupForm.get('PasswordConfirm')?.touched &&
              signupForm.get('PasswordConfirm')?.invalid)
          "
        >
          <span *ngIf="signupForm.get('PasswordConfirm')?.hasError('required')"
            >Password cant be blank</span
          >
          <div class="error_msg" *ngIf="signupForm.errors?.['passwordNoMatch']">
            password doesnt match
          </div>
        </div>
      </div>
    </div>
    <button class="signup_btn" type="submit">Sign Up</button>
    <div class="error_msg" *ngIf="errorMsg">
      <p>{{ errorMsg }}</p>
    </div>
  </div>
</form>
